<template>
    <div>
        <!-- Documents -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h3>{{labels.title[language]}}</h3>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h4>{{labels.instructions[language]}}</h4>
                <ul>
                    <li 
                        v-for="item in labels.instructions.list"
                        :key="item[language]">
                        {{item[language]}}
                    </li>
                </ul>
            </el-col>
        </el-row>
        <el-row :gutter="20" type="flex" justify="center">
            <el-col :span="22">
                <input
                    id="death-file-input"
                    type="file"
                    accept="application/pdf"
                    multiple
                    ref="deathFileInput"
                    @change="update_button_label($event)">
                <el-button 
                    @click="open_file_picker"
                    type="primary"
                    :loading="upload_button_loading"
                    icon="el-icon-upload">
                {{labels.documents[language]}}
                </el-button>                  
            </el-col>
        </el-row>
        <el-row
            type="flex"
            justify="center">
            <el-col :span="22">
                <el-button
                    type="primary"
                    :disabled="continue_button_disabled"
                    :loading="continue_button_loading"
                    @click="form_continue()">
                    {{labels.continue_button[language]}} <i class="el-icon-arrow-right"></i>
                </el-button>
            </el-col>
        </el-row>          
    </div>
</template>

<script>

    // Importing Axios
    import axios from 'axios'

    export default {
        props: {
            // receive language from parent component
            language: String
        },
        methods: {
            open_file_picker(){
                // trigger click function on hidden file input
                this.$refs.deathFileInput.click()
            },
            update_button_label(event){

                this.upload_button_loading = true

                // obtaining file lenght
                var file_length = event.target.files.length
                // checking file lenght for display file name or amount of files
                if (file_length > 1){
                    // assigning quantity of files and 
                    this.labels.documents[this.language] = file_length + ' ' + this.labels.documents.quantity[this.language]
                } else {
                    this.labels.documents[this.language] = event.target.files[0].name
                }
                
                this.set_documents(()=>{
                    this.continue_button_disabled = false
                    this.upload_button_loading = false
                })
            },
            get_base_64: function(file, callback) {
                // creating new filereader and 
                // capturing the data as base64
                var reader = new FileReader()
                reader.readAsDataURL(file)
                // success
                reader.onload = function () {
                    callback(reader.result.split(',')[1])
                }
                // failure
                reader.onerror = function (error) {
                    file.base64 = error
                }
            },
            set_documents : function(callback){

                // getting attached files
                var input_files = document.querySelector('#death-file-input').files;
                
                // getting base64 string for each file
                input_files.forEach((file, index) =>{

                    this.get_base_64(file, (base_64) =>{

                        // assigning base 64 string to file
                        file.base64 = base_64
                        // uploading file to inbenta case management with
                        // base64 string
                        
                        this.inbenta_upload_media(file, (inbenta_uuid)=>{
                            // saving the file properties in the store
                            this.$death_data.documents[index] = {
                                name : file.name,
                                base_64 : base_64,
                                uuid : inbenta_uuid
                            }
                        })
                    })
                })
                callback()            
            },
            inbenta_upload_media: function(file, callback){
                
                // upload media to inbenta case management
                axios({
                    method: 'post',
                    url: this.$form_data.inbenta.apis.ticketing + '/v1/media',
                    crossDomain: true,
                    data: {
                        name : file.name,
                        content : file.base64
                    },
                    headers: {
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key,
                        'Authorization': 'Bearer '+this.$form_data.inbenta.keys.access_token
                    }
                }).then((response) => {
                    // user was created and we use its 
                    // uuid to perform a callback
                    var created_id = response.data.uuid
                    callback(created_id)
                })
            },            
            form_continue: function(){
                this.$emit('form_continue')
            }            
        },        
        data() {
            return {
                // continue button behavior
                continue_button_loading : false,
                upload_button_loading : false,
                continue_button_disabled : true,                   
                // labels
                labels : {
                    title : {
                        english     : "Required Documentation",
                        español     : "Documentación Requerida",
                        português   : "Documentação Necessária"
                    },
                    continue_button : {
                        english : "Continue",
                        español : "Continuar" ,
                        português : "Continuar"
                    },                    
                    instructions : {
                        english     : "The deadline to submit your application and deliver the documentation described, is up to 3 months after the date of travel.",
                        español     : "El plazo para presentar tu solicitud y entregar la documentación descrita es hasta 3 meses después de la fecha de viaje.",
                        português   : "O prazo para apresentar sua solicitação e entregar a documentação descrita é de até 3 meses após a data da viagem.",
                        list : [
                            {
                                english : "If who dies is the passenger, you must attach the effective possession plus death certificate.",
                                español : "Si quien fallece es el pasajero, debes adjuntar la posesión efectiva más certificado de defunción.",
                                português : "Se o falecido é o passageiro, você deve anexar a Declaração de espólio mais a certidão de óbito."
                            },
                            {
                                english : "If the deceased is a direct, indirect relative and/or companion, you must attach the death certificate.",
                                español : "Si quien fallece es un familiar directo, indirecto y/o acompañante, debes adjuntar el certificado de defunción.",
                                português : "Se o falecido é um familiar direto, indireto e/ou acompanhante, você deve anexar a certidão de óbito."
                            }                            
                        ]
                    },
                    documents : {
                        english : "Select a .pdf file",
                        español : "Selecciona un archivo .pdf" ,
                        português : "Selecione um arquivo .pdf",
                        quantity : {
                            english : "files",
                            español : "archivos" ,
                            português : "arquivos",
                        }
                    }                  
                }
            }
        }
    };
</script>
<style scoped>
    #death-file-input{
        display: none;
    }
</style>