<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="update_values">
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <h2>{{labels.title[language]}}</h2>
                    </el-col>
                </el-row>
            <!-- Full name and email -->
                <el-row type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.full_name.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|alpha_spaces" 
                            v-slot="{ errors }">
                            <el-input
                                v-model="labels.full_name.default_value"
                                :placeholder="labels.full_name.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.email.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|email" 
                            v-slot="{ errors }">
                            <el-input
                                v-model="labels.email.default_value"
                                :placeholder="labels.email.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>                
                    </el-col>
                </el-row>
                <!-- Country and DNI -->
                <el-row type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.residence_country.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required" 
                            v-slot="{ errors }">                
                            <el-select
                                v-model="labels.residence_country.default_value"
                                :placeholder="labels.residence_country.placeholder[language]">
                                <el-option
                                    v-for="option in labels.residence_country.options"
                                    :key="option.value"
                                    :value="option.value"
                                    :label="option.labels[language]">
                                </el-option>
                            </el-select>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>                  
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.identity.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required" 
                            v-slot="{ errors }">                  
                            <el-input
                                v-model="labels.identity.default_value"
                                :placeholder="labels.identity.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>                      
                    </el-col>
                </el-row>
                <!-- Section Name -->
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <h3>{{labels.inquiry_reason.title[language]}}</h3>
                    </el-col>
                </el-row>
                <ValidationProvider 
                    rules="required" 
                    v-slot="{ errors }">  
                    <el-row 
                        v-for="option in labels.inquiry_reason.options"
                        type="flex"
                        justify="center" 
                        :key="option.value">
                        <el-col :span="22">                            
                            <el-radio
                                v-model="labels.inquiry_reason.default_value"
                                :label="option.value">
                                {{option.labels[language]}}
                            </el-radio>
                        </el-col>
                    </el-row>
                    <el-row
                        type="flex"
                        justify="center" >
                        <el-col :span="22">                            
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </el-col>
                    </el-row>    
                </validationProvider>
                <el-row
                    type="flex"
                    justify="center">
                    <el-col :span="22">
                        <el-button
                            native-type="submit"
                            type="primary"
                            :disabled="invalid"
                            :loading="continue_button_loading">
                            {{labels.continue_button[language]}} <i class="el-icon-arrow-right"></i>
                        </el-button>
                    </el-col>
                </el-row>
            </form>
        </ValidationObserver>            
    </div>
</template>

<script>

    // Importing Axios
    import axios from 'axios'

    export default {
        props: {
            // receive language from parent component
            language: String
        },
        methods:{
            update_values(){

                this.continue_button_loading = true
                // update all store values
                // getting data from v-models
                this.$passenger_data.full_name          =   this.labels.full_name.default_value
                this.$passenger_data.email              =   this.labels.email.default_value
                this.$passenger_data.identity           =   this.labels.identity.default_value
                this.$passenger_data.residence_country  =   this.labels.residence_country.default_value
                this.$passenger_data.inquiry_reason     =   this.labels.inquiry_reason.default_value

                // checking if the user exists
                this.inbenta_get_user(this.$passenger_data.email, (search_id)=> {

                    if (search_id > 0){
                        // user is registered and we store its id
                        // in inbenta case management 
                        this.$passenger_data.inbenta_id = search_id
                        // after the user is stored 
                        // we continue with the form
                        this.continue_button_loading = false
                        this.$emit('form_continue')
                    } else {
                        // user is not registered
                        // and we have to create it
                        this.inbenta_create_user(this.$passenger_data.full_name, this.$passenger_data.email,
                            (created_id) =>{
                                this.$passenger_data.inbenta_id = created_id
                                this.continue_button_loading = false
                                this.$emit('form_continue')
                            }
                        )
                    }
                })
            },
            inbenta_get_user: function(email, callback){
                // perform inbenta authentication
                axios({
                    method: 'get',
                    url: this.$form_data.inbenta.apis.ticketing + '/v1/users',
                    crossDomain: true,
                    params: {
                        "address" : email,
                        "items" : "1",
                        "page" : "1"
                    },
                    headers: {
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key,
                        'Authorization': 'Bearer '+this.$form_data.inbenta.keys.access_token
                    }
                }).then((response) => {
                    var search_id = 0

                    if (response.data.total == 1) {
                        // there is an user with that email
                        search_id = response.data.data[0].id
                        callback(search_id)

                    } else {
                        search_id = 0
                        callback(search_id)
                    }
                })
            },
            inbenta_create_user: function(name, email, callback){
                // create an user in inbenta case management

                var form_data = new FormData();
                form_data.set('name', name);
                form_data.set('address', email);

                axios({
                    method: 'post',
                    url: this.$form_data.inbenta.apis.ticketing + '/v1/users',
                    crossDomain: true,
                    data: form_data,
                    headers: {
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key,
                        'Authorization': 'Bearer '+this.$form_data.inbenta.keys.access_token
                    }
                }).then((response) => {

                    // user was created and we use its 
                    // uuid to perform a callback
                    var created_id = response.data.uuid
                    callback(created_id)
                })
            }            
        },
        data() {
            return {
                // continue button behavior
                continue_button_loading : false,
                // labels
                labels : {
                    title : {
                        english     : "Passenger Information",
                        español     : "Datos del Pasajero",
                        português   : "Dados do passageiro"
                    },
                    continue_button : {
                        english : "Continue",
                        español : "Continuar" ,
                        português : "Continuar"
                    },                    
                    full_name : {
                        default_value : '',
                        title: {
                            english : "Full name*",
                            español : "Nombre Completo*",
                            português : "Nome completo*"
                        },
                        placeholder:{
                            english : "Enter your full name",
                            español : "Ingresa tu nombre completo",
                            português : "Digite seu nome completo"
                        },
                    },
                    email : {
                        default_value : '',
                        title: {
                            english : "E-mail*",
                            español : "E-mail*" ,
                            português : "E-mail*"
                        },
                        placeholder:{
                            english : "Enter your e-mail",
                            español : "Ingresa tu e-mail",
                            português : "digite seu e-mail"
                        },
                    },
                    identity : {
                        default_value : '',
                        title: {
                            english : "RUT/DNI/Passport*",
                            español : "RUT/DNI/Pasaporte*",
                            português : "CNPJ/RG/Passaporte*"
                        },
                        placeholder:{
                            english : "Enter your RUT/DNI/Passport",
                            español : "Ingresa RUT/DNI/Pasaporte",
                            português : "CNPJ/RG/Passaporte"
                        },                        
                    },
                    residence_country :{
                        default_value: '',
                        title: {
                            english : "Residence Country*",
                            español : "País de Residencia*",
                            português : "País de Residência*",
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"
                        },
                        options: [
                            {
                                value: 'Chile',
                                queue : 70,
                                labels : {
                                    english : "Chile",
                                    español : "Chile",
                                    português : "Chile"
                                }
                            }, 
                            {
                                value: 'Perú',
                                queue : 80,                                
                                labels : {
                                    english : "Peru",
                                    español : "Perú",
                                    português : "Perú"
                                }
                            }, 
                            {
                                value: 'Otro',
                                queue : 70,
                                labels : {
                                    english : "Other Countries",
                                    español : "Otros Países",
                                    português : "outros países"
                                }
                            }
                        ],    
                    },
                    inquiry_reason : {
                        default_value : '',
                        title : {
                            english     : "Request Reason*",
                            español     : "Motivo de Solicitud*",
                            português   : "Motivo de Solicitação*"
                        },
                        options : [
                            {
                                value : "Devolución por cancelación o atraso",
                                labels : {
                                    english : "Refund by cancellation or delay",
                                    español : "Devolución por cancelación o atraso",
                                    português : "Devolução por cancelamento ou atraso"
                                }
                            },
                            {
                                value : "Devolución por error en la compra",
                                labels : {
                                    english : "Refund by mistake on purchase",
                                    español : "Devolución por error en la compra",
                                    português : "Devolução por erro na compra"
                                }
                            },
                            {
                                value : "Devolución por diferencia de tasas",
                                labels : {
                                    english : "Rate difference refund",
                                    español : "Devolución por diferencia de tasas",
                                    português : "Devolução de diferença de taxas"
                                }
                            },
                            {
                                value : "Devolución por enfermedad u hospitalización",
                                labels : {
                                    english : "Refund by illness or hospitalization",
                                    español : "Devolución por enfermedad u hospitalización",
                                    português : "Devolução por doença ou hospitalização"
                                }
                            },
                            {
                                value : "Devolución por fallecimiento",
                                labels : {
                                    english : "Refund by death",
                                    español : "Devolución por fallecimiento",
                                    português : "Devolução por falecimento"
                                }
                            },
                            {
                                value : "Otros motivos",
                                labels : {
                                    english : "Others reasons",
                                    español : "Otros motivos",
                                    português : "Outros motivos"
                                }
                            },
                        ]
                    }                                                      
                }
            }
        }
    };
</script>