<template>
    <div>
        <!-- Documents -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h2>{{labels.title[language]}}</h2>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h4>{{labels.instructions[language]}}</h4>
                <ul>
                    <li 
                        v-for="item in labels.instructions.list"
                        :key="item[language]">
                        {{item[language]}}
                    </li>
                </ul>
            </el-col>
        </el-row>
        <el-row :gutter="20" type="flex" justify="center">
            <el-col :span="22">
                <input
                    id="sickness-file-input"
                    type="file"
                    accept="application/pdf"
                    multiple
                    ref="sicknessFileInput"
                    @change="update_button_label($event)">
                <el-button 
                    @click="open_file_picker"
                    type="primary"
                    :loading="upload_button_loading"
                    icon="el-icon-upload">
                {{labels.documents[language]}}
                </el-button>
            </el-col>
        </el-row>             
        <el-row
            type="flex"
            justify="center">
            <el-col :span="22">
                <el-button
                    type="primary"
                    :disabled="continue_button_disabled"
                    :loading="continue_button_loading"
                    @click="form_continue()">
                    {{labels.continue_button[language]}} <i class="el-icon-arrow-right"></i>
                </el-button>
            </el-col>
        </el-row>                
    </div>
</template>

<script>

    // Importing Axios
    import axios from 'axios'

    export default {
        props: {
            // receive language from parent component
            language: String
        },
        methods: {
            open_file_picker(){
                // trigger click function on hidden file input
                this.$refs.sicknessFileInput.click()
            },
            update_button_label(event){

                this.upload_button_loading = true

                // obtaining file lenght
                var file_length = event.target.files.length
                // checking file lenght for display file name or amount of files
                if (file_length > 1){
                    // assigning quantity of files and 
                    this.labels.documents[this.language] = file_length + ' ' + this.labels.documents.quantity[this.language]
                } else {
                    this.labels.documents[this.language] = event.target.files[0].name
                }
                
                this.set_documents(()=>{
                    this.continue_button_disabled = false
                    this.upload_button_loading = false
                })
            },
            get_base_64: function(file, callback) {
                // creating new filereader and 
                // capturing the data as base64
                var reader = new FileReader()
                reader.readAsDataURL(file)
                // success
                reader.onload = function () {
                    callback(reader.result.split(',')[1])
                }
                // failure
                reader.onerror = function (error) {
                    file.base64 = error
                }
            },
            set_documents : function(callback){

                // getting attached files
                var input_files = document.querySelector('#sickness-file-input').files;
                
                // getting base64 string for each file
                input_files.forEach((file, index) =>{

                    this.get_base_64(file, (base_64) =>{

                        // assigning base 64 string to file
                        file.base64 = base_64
                        // uploading file to inbenta case management with
                        // base64 string
                        
                        this.inbenta_upload_media(file, (inbenta_uuid)=>{
                            // saving the file properties in the store
                            this.$sickness_data.documents[index] = {
                                name : file.name,
                                base_64 : base_64,
                                uuid : inbenta_uuid
                            }
                        })
                    })
                })
                callback()            
            },
            inbenta_upload_media: function(file, callback){
                
                // upload media to inbenta case management
                axios({
                    method: 'post',
                    url: this.$form_data.inbenta.apis.ticketing + '/v1/media',
                    crossDomain: true,
                    data: {
                        name : file.name,
                        content : file.base64
                    },
                    headers: {
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key,
                        'Authorization': 'Bearer '+this.$form_data.inbenta.keys.access_token
                    }
                }).then((response) => {
                    // user was created and we use its 
                    // uuid to perform a callback
                    var created_id = response.data.uuid
                    callback(created_id)

                })
            },
            form_continue: function(){
                this.$emit('form_continue')
            }
        },
        data() {
            return {
                // continue button behavior
                continue_button_loading : false,
                upload_button_loading : false,
                continue_button_disabled : true,                
                // labels
                labels : {
                    title : {
                        english     : "Required Documentation",
                        español     : "Documentación Requerida",
                        português   : "Documentação Necessária"
                    },
                    continue_button : {
                        english : "Continue",
                        español : "Continuar" ,
                        português : "Continuar"
                    },
                    instructions : {
                        english     : "In order your application be accepted, the medical certificate must meet the following conditions:",
                        español     : "Para que tu solicitud sea acogida, el certificado médico debe cumplir con las siguientes condiciones:",
                        português   : "Para que sua solicitação seja aceita, o atestado médico deve cumprir com as seguintes condições:",
                        list : [
                            {
                                english : "Include diagnosis, where rest, hospitalization or operation has been prescribed during the flight date.",
                                español : "Incluir el diagnóstico, donde se prescriba reposo, hospitalización u operación cuyo periodo cubra la fecha de realización del vuelo.",
                                português : "Incluir o diagnóstico, onde se prescreva repouso, hospitalização ou operação, cujo período abranja a data de realização do voo."
                            },
                            {
                                english : "The certificate must be issued on letterhead of medical institution, signature and stamp of treating physician, including the RCM (or registration number of a medical association of your country).",
                                español : "Debe ser emitido con membrete de la institución médica, firma y timbre del médico tratante con RCM (Registro del colegio médico).",
                                português : "Deve ser emitido em papel timbrado da instituição médica, com assinatura e carimbo do médico responsável com número do RCM (Conselho Regional de Medicina)."
                            }                            
                        ]
                    },
                    documents : {
                        english : "Select a .pdf file",
                        español : "Selecciona un archivo .pdf" ,
                        português : "Selecione um arquivo .pdf",
                        quantity : {
                            english : "files",
                            español : "archivos" ,
                            português : "arquivos",
                        }
                    }
                }
            }
        }
    };
</script>
<style scoped>
    #sickness-file-input{
        display: none;
    }
</style>