<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="update_values">            
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <h2>{{labels.title[language]}}</h2>
                    </el-col>
                </el-row>
                <!-- Reserve code and Payment method -->                
                <el-row type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.reserve_code.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|alpha_num"
                            v-slot="{ errors }">
                            <el-input
                                v-model="labels.reserve_code.default_value"
                                :placeholder="labels.reserve_code.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>                            
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.payment_method.title[language]}}</h3>                        
                        <ValidationProvider 
                            rules="required"
                            v-slot="{ errors }">
                            <el-select
                                v-model="labels.payment_method.default_value"
                                :placeholder="labels.payment_method.placeholder[language]"
                                @change="swap_continue_for_submit($event)">
                                <el-option
                                    v-for="option in labels.payment_method.options"
                                    :key="option.value"
                                    :value="option.value"
                                    :label="option.value[language]">
                                </el-option>
                            </el-select>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </validationProvider>                            
                    </el-col>
                </el-row>
                <!-- Purchase Location -->
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <h3>{{labels.purchase_location.title[language]}}</h3>  
                    </el-col>
                </el-row>
                <ValidationProvider 
                    rules="required" 
                    v-slot="{ errors }">                  
                    <el-row 
                        v-for="option in labels.purchase_location.options"
                        type="flex"
                        justify="center"
                        :key="option.value">
                        <el-col :span="22">
                            <el-radio
                                v-model="labels.purchase_location.default_value"
                                :value="option.value"
                                :label="option.value">
                                {{option.labels[language]}}
                            </el-radio>
                        </el-col>
                    </el-row>
                    <el-row
                        type="flex"
                        justify="center" >
                        <el-col :span="22">                            
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </el-col>
                    </el-row>    
                </validationProvider>                
                <el-row
                    type="flex"
                    justify="center">
                    <el-col :span="22">
                        <el-button
                            v-if="!submit_button_visible"
                            native-type="submit"
                            type="primary"
                            :disabled="invalid"
                            :loading="continue_button_loading">
                            {{labels.continue_button[language]}} <i class="el-icon-arrow-right"></i>
                        </el-button>
                        <el-button
                            v-if="submit_button_visible"
                            native-type="submit"
                            type="primary"
                            :disabled="invalid"
                            :loading="submit_button_loading">
                            {{labels.submit_button[language]}} <i class="el-icon-arrow-right"></i>
                        </el-button>                        
                    </el-col>
                </el-row>                
            </form>                
        </ValidationObserver>
    </div>
</template>

<script>
    export default {
        props: {
            // receive language from parent component
            language: String
        },
        methods:{
            update_values(){

                this.continue_button_loading = true
                // update all store values
                // getting data from v-models

                this.$ticket_data.reserve_code      = this.labels.reserve_code.default_value
                this.$ticket_data.payment_method    = this.labels.payment_method.default_value
                this.$ticket_data.purchase_location = this.labels.purchase_location.default_value

                // continue navigation to next step based on options
                this.continue_button_loading = false
                this.$emit('form_continue')

            },
            swap_continue_for_submit(event){
                
                // swaps the continue button for a submit button
                // when the user selects Tarjeta de crédito
                // on the payment method
                if(event == 'Tarjeta de crédito'){
                    this.submit_button_visible = true
                } else {
                    this.submit_button_visible = false
                }
            }
        },        
        data() {
            return {
                // continue button behavior
                continue_button_loading : false,
                submit_button_loading : false,
                submit_button_visible : false,
                // labels
                labels : {
                    title : {
                        english     : "Ticket Purchase Details",
                        español     : "Datos de la compra del pasaje",
                        português   : "Dados da compra da passagem"
                    },
                    continue_button : {
                        english : "Continue",
                        español : "Continuar" ,
                        português : "Continuar"
                    },
                    submit_button : {
                        english : "Submit",
                        español : "Enviar" ,
                        português : "Enviar"
                    },                     
                    reserve_code : {
                        default_value : '',
                        title: {
                            english : "Reservation Code*",
                            español : "Código de Reserva*",
                            português : "Código de Reserva*"
                        },
                        placeholder:{
                            english : "Enter the reserve code",
                            español : "Ingresa el código de reserva",
                            português : "insira o código da reserva"
                        }
                    },
                    payment_method : {
                        default_value : '',
                        title: {
                            english     : "Payment method*",
                            español     : "Forma de pago utilizada*",
                            português   : "Forma de pagamento Utilizada*"
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"
                        },                     
                        options: [
                            {
                                value : "Tarjeta de débito",
                                labels : {
                                    english : "Debit Card",
                                    español : "Tarjeta de débito",
                                    português : "Cartão de débito"
                                }
                            },
                            {
                                value : "Tarjeta de crédito",
                                labels : {
                                    english : "Credit Card",
                                    español : "Tarjeta de crédito",
                                    português : "Cartão de crédito"
                                }
                            },
                            {
                                value : "Banco de Chile (Pagos con tarjeta o Travel SKY",
                                labels : {
                                    english : "Banco de Chile (Card or Travel Sky Payments)",
                                    español : "Banco de Chile (Pagos con tarjeta o Travel SKY)",
                                    português : "Banco de Chile (pagamentos com cartão ou Travel SKY)"
                                }
                            },

                            {
                                value : "Kiphu",
                                labels : {
                                    english : "Kiphu",
                                    español : "Kiphu",
                                    português : "Kiphu"
                                }
                            },
                            {
                                value : "Safetypay",
                                labels : {
                                    english : "Safetypay",
                                    español : "Safetypay",
                                    português : "Safetypay"
                                }
                            }
                        ],
                    },                    
                    purchase_location : {
                        default_value  : '',
                        title:{
                            english     : "Purchase made from*",
                            español     : "La compra fue realizada desde*",
                            português   : "A compra foi realizada desde*"
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"                            
                        },
                        options : [
                            {
                                value : "chile",
                                labels : {
                                    english : "Chile",
                                    español : "Chile",
                                    português : "Chile"
                                }
                            },
                            {
                                value : "perú",
                                labels : {
                                    english : "Peru",
                                    español : "Perú",
                                    português : "Perú"
                                }
                            },
                            {
                                value : "otro",
                                labels : {
                                    english : "Other Countries",
                                    español : "Otros Países",
                                    português : "Outros Países"
                                }
                            }                            
                        ]
                    }                             
                },
            }
        }
    };
</script>