<template>
    <div>
        <!-- Finish Message -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h2>{{labels.title[language]}}</h2>
            </el-col>
        </el-row>
        <!-- Ticket Number -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h3>{{labels.status[language]}} SKYAIRLINE-{{this.$form_data.ticket_uuid}}</h3>
            </el-col>
        </el-row>
        <!-- Instructions -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <p>{{labels.instruction[language]}}</p>
            </el-col>
        </el-row>
        <!-- Department Signature -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <p>{{labels.signature.customer_support[language]}}</p>
                <p>{{labels.signature.brand}}</p>
            </el-col>
        </el-row>   
    </div>
</template>

<script>
    export default {
        name : 'TicketSent',
        props: {
            // receive language from parent component
            language: String
        },
        data() {
            return {
                // labels
                labels : {
                    title : {
                        english     : "Thanks for contact us!",
                        español     : "¡Gracias por contactarnos!",
                        português   : "Obrigado por entrar em contato!"
                    },
                    status : {
                        english     : "We have already entered your application with the following number:",
                        español     : "Ya hemos ingresado tu solicitud con el siguiente número asignado:",
                        português   : "Já inserimos sua solicitação com o seguinte número de protocolo:"
                    },                    
                    instruction : {
                        english     : "The deadline for your return is 15 working days. Remember, if you paid by credit card you will be able to see your return within the next two states of account.",
                        español     : "El plazo para que se genere tu devolución es de 15 días hábiles. Recuerda que si pagaste con tarjeta de crédito podrás ver reflejada tu devolución dentro de los próximos dos estados de cuenta.",
                        português   : "O prazo para que seja gerada sua devolução é de 15 dias úteis. Lembre-se de que, se você pagou com cartão de crédito, poderá ver a sua devolução considerada nas próximas duas faturas.",
                    },
                    signature : {
                        customer_support : {
                            english     : "Customer Support",
                            español     : "Servicio al Cliente",
                            português   : "Serviço ao Cliente",
                        }, 
                        brand : "SKY"
                    }
                },
            }
        }
    };
</script>