<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="update_values">              
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <h2>{{labels.title[language]}}</h2>
                    </el-col>
                </el-row>
                <!-- Bank and Account Type -->
                <el-row :gutter="20" type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.bank.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required"
                            v-slot="{ errors }">                        
                            <el-select 
                                v-model="labels.bank.default_value"
                                :placeholder="labels.bank.placeholder[language]">
                                <el-option
                                    v-for="bank in labels.bank.options[$ticket_data.purchase_location]"
                                    :key="bank.value"
                                    :value="bank.value"
                                    :label="bank.labels[language]">
                                </el-option>
                            </el-select>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>
                        </ValidationProvider>                            
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.account_type.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required"
                            v-slot="{ errors }">                          
                            <el-select 
                                v-model="labels.account_type.default_value"
                                :placeholder="labels.account_type.placeholder[language]">
                                <el-option
                                    v-for="account_type in labels.account_type.options"
                                    :key="account_type.value"
                                    :value="account_type.value"
                                    :label="account_type.labels[language]">
                                </el-option>
                            </el-select>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>   
                        </ValidationProvider>                                         
                    </el-col>
                </el-row>
                <!-- Payer's Full Name and Payer's Account Number -->
                <el-row :gutter="20" type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.payer_full_name.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|alpha_spaces"
                            v-slot="{ errors }">       
                            <el-input 
                                v-model="labels.payer_full_name.default_value"
                                :placeholder="labels.payer_full_name.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>                             
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.payer_account_number.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|alpha_num"
                            v-slot="{ errors }">  
                            <el-input 
                                v-model="labels.payer_account_number.default_value"
                                :placeholder="labels.payer_account_number.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>                             
                    </el-col>
                </el-row>
                <!-- ONLY FOR PERÚ - Currency and CCI -->
                <el-row v-if="purchase_location == 'perú'" :gutter="20" type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.currency.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required"
                            v-slot="{ errors }">                         
                            <el-select 
                                v-model="labels.currency.default_value"
                                :placeholder="labels.currency.placeholder[language]">
                                <el-option
                                    v-for="currency in labels.currency.options"
                                    :key="currency.value"
                                    :value="currency.value"
                                    :label="currency.labels[language]">
                                </el-option>
                            </el-select>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>     
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.payer_cci.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required|alpha_num"
                            v-slot="{ errors }">  
                            <el-input 
                                v-model="labels.payer_cci.default_value"
                                :placeholder="labels.payer_cci.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>     
                    </el-col>
                </el-row>
                <!-- Payer's Identity Card and Payer's Email -->
                <el-row :gutter="20" type="flex" justify="center">
                    <el-col :span="10">
                        <h3>{{labels.payer_identity.title[language]}}</h3>
                        <ValidationProvider 
                            rules="required"
                            v-slot="{ errors }">  
                            <el-input 
                                v-model="labels.payer_identity.default_value"
                                :placeholder="labels.payer_identity.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>     
                    </el-col>
                    <el-col :span="2">
                    </el-col>
                    <el-col :span="10">
                        <h3>{{labels.payer_email.title[language]}}</h3>                        
                        <ValidationProvider 
                            rules="required|email"
                            v-slot="{ errors }">  
                            <el-input
                                v-model="labels.payer_email.default_value"
                                :placeholder="labels.payer_email.placeholder[language]">
                            </el-input>
                            <el-alert 
                                v-if="errors.length > 0"
                                :title="errors[0] " 
                                type="error"
                                show-icon>
                            </el-alert>                               
                        </ValidationProvider>     
                    </el-col>
                </el-row>
                <el-row
                    type="flex"
                    justify="center">
                    <el-col :span="22">
                        <el-button
                            native-type="submit"
                            type="primary"
                            :disabled="invalid"
                            :loading="submit_button_loading">
                            {{labels.submit_button[language]}} <i class="el-icon-arrow-right"></i>
                        </el-button>
                    </el-col>
                </el-row>                     
            </form>
        </ValidationObserver>                            
    </div>
</template>

<script>
    export default {
        props: {
            // receive language from parent component
            language: String
        },
        methods:{
            update_values(){

                this.submit_button_loading = true

                // update all store values
                // getting data from v-models
                this.$transfer_data['bank']                   = this.labels.bank.default_value
                this.$transfer_data['account_type']           = this.labels.account_type.default_value
                this.$transfer_data['currency']               = this.labels.currency.default_value
                this.$transfer_data['payer_cci']              = this.labels.payer_cci.default_value
                this.$transfer_data['payer_account_number']   = this.labels.payer_account_number.default_value
                this.$transfer_data['payer_full_name']        = this.labels.payer_full_name.default_value
                this.$transfer_data['payer_email']            = this.labels.payer_email.default_value
                this.$transfer_data['payer_identity']         = this.labels.payer_identity.default_value
                
                this.$emit('form_continue')
            }
        },
        data() {
            return {
                // purchase location
                purchase_location : this.$ticket_data.purchase_location,
                // continue button behavior
                submit_button_loading : false,
                // labels
                labels : {
                    title : {
                        english     : "Data to perform the transference",
                        español     : "Datos para realizar la transferencia",
                        português   : "Dados para realizar a transferência"
                    },
                    submit_button : {
                        english : "Submit",
                        español : "Enviar" ,
                        português : "Enviar"
                    },
                    account_type : {
                        default_value     : '',
                        title: {
                            english     : "Account Type",
                            español     : "Tipo de Cuenta",
                            português   : "Tipo de Conta"
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"
                        },
                        options: [
                            {
                                value : "Cuenta Corriente",
                                labels : {
                                    english : "Checking Account",
                                    español : "Cuenta Corriente",
                                    português : "Conta Corrente"
                                }
                            },
                            {
                                value : "Cuenta Vista",
                                labels : {
                                    english : "Sight Account",
                                    español : "Cuenta Vista",
                                    português : "Conta Vista"
                                }
                            },
                            {
                                value : "Cuenta de Ahorro",
                                labels : {
                                    english : "Saving Account",
                                    español : "Cuenta de Ahorro",
                                    português : "Conta Poupança"
                                }
                            },                            
                        ],
                    },
                    currency : {
                        default_value   : '',
                        title: {
                            english     : "Currency",
                            español     : "Moneda",
                            português   : "Moeda"
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"
                        },
                        options: [
                            {
                                value : "Soles",
                                labels : {
                                    english : "Soles",
                                    español : "Soles",
                                    português : "Soles"
                                }
                            },
                            {
                                value : "Dólares",
                                labels : {
                                    english : "Dollars",
                                    español : "Dólares",
                                    português : "Dólares"
                                }
                            }                           
                        ],
                    },
                    payer_cci : {
                        default_value: '',
                        title: {
                            english : "CCI",
                            español : "CCI" ,
                            português : "CCI"
                        },
                        placeholder : {
                            english : "Enter payer's CCI number",
                            español : "Ingresa el número de CCI del pagador" ,
                            português : "Digite o número CCI do pagador"
                        }
                    },                      
                    payer_account_number : {
                        default_value: '',
                        title: {
                            english : "Account Number",
                            español : "Número de cuenta" ,
                            português : "Número de conta"
                        },
                        placeholder : {
                            english : "Enter the payer's account Number",
                            español : "Ingresa el número de cuenta del pagador" ,
                            português : "Digite o número da conta do pagador"
                        }
                    },                    
                    payer_full_name : {
                        default_value: '',
                        title: {
                            english : "Full name of payer",
                            español : "Nombre completo del pagador",
                            português : "Nome completo do pagador*"
                        },
                        placeholder : {
                            english : "Enter the payer's full name",
                            español : "Ingresa el nombre completo del pagador",
                            português : "Digite o nome completo do pagador"
                        }
                    },
                    payer_email : {
                        default_value: '',
                        title: {
                            english : "E-mail*",
                            español : "E-mail*" ,
                            português : "E-mail*"
                        },
                        placeholder : {
                            english : "Enter the payer's e-mail",
                            español : "Ingresa el e-mail del pagador" ,
                            português : "Digite o email do pagador"
                        }
                    },
                    payer_identity : {
                        default_value: '',
                        title:{
                            english : "Payer identification Card Number",
                            español : "Documento de identidad del pagador",
                            português : "Documento de identidade do pagador"                            
                        },
                        placeholder:{
                            english : "Enter the Payer's Identity Document",
                            español : "Ingresa el Documento de identidad del pagador",
                            português : "Digite o documento de identidade do pagador"
                        }
                    },                    
                    bank : {
                        default_value     : '',
                        title: {
                            english     : "Bank",
                            español     : "Banco",
                            português   : "Banco"
                        },
                        placeholder:{
                            english : "Select an option",
                            español : "Selecciona una opción",
                            português : "Selecione uma opção"
                        },
                        options : {
                            chile : [
                                {
                                    value : "Banco Chile/Edwards",
                                    labels : {
                                        english : 'Banco Chile/Edwards',
                                        español : 'Banco Chile/Edwards',
                                        português : 'Banco Chile/Edwards'
                                    }
                                },
                                {
                                    value : "Banco Consorcio",
                                    labels : {
                                        english : 'Banco Consorcio',
                                        español : 'Banco Consorcio',
                                        português : 'Banco Consorcio'
                                    }
                                },
                                {
                                    value : "Banco Estado",
                                    labels : {
                                        english : 'Banco Estado',
                                        español : 'Banco Estado',
                                        português : 'Banco Estado'
                                    }
                                },
                                {
                                    value : "Banco Falabella",
                                    labels : {
                                        english : 'Banco Falabella',
                                        español : 'Banco Falabella',
                                        português : 'Banco Falabella'
                                    }
                                },
                                {
                                    value : "Banco Internacional",
                                    labels : {
                                        english : 'Banco Internacional',
                                        español : 'Banco Internacional',
                                        português : 'Banco Internacional'
                                    }
                                },
                                {
                                    value : "Banco Ripley",
                                    labels : {
                                        english : 'Banco Ripley',
                                        español : 'Banco Ripley',
                                        português : 'Banco Ripley'
                                    }
                                },
                                {
                                    value : "Banco Security Pacific",
                                    labels : {
                                        english : 'Banco Security Pacific',
                                        español : 'Banco Security Pacific',
                                        português : 'Banco Security Pacific'
                                    }
                                },
                                {
                                    value : "BBVA",
                                    labels : {
                                        english : 'BBVA',
                                        español : 'BBVA',
                                        português : 'BBVA'
                                    }
                                },
                                {
                                    value : "BCI",
                                    labels : {
                                        english : 'BCI',
                                        español : 'BCI',
                                        português : 'BCI'
                                    }
                                },
                                {
                                    value : "Bice",
                                    labels : {
                                        english : 'Bice',
                                        español : 'Bice',
                                        português : 'Bice'
                                    }
                                },
                                {
                                    value : "Citibank",
                                    labels : {
                                        english : 'Citibank',
                                        español : 'Citibank',
                                        português : 'Citibank'
                                    }
                                },
                                {
                                    value : "Coopeuch",
                                    labels : {
                                        english : 'Coopeuch',
                                        español : 'Coopeuch',
                                        português : 'Coopeuch'
                                    }
                                },
                                {
                                    value : "Corpbanca",
                                    labels : {
                                        english : 'Corpbanca',
                                        español : 'Corpbanca',
                                        português : 'Corpbanca'
                                    }
                                },
                                {
                                    value : "HSBC Bank",
                                    labels : {
                                        english : 'HSBC Bank',
                                        español : 'HSBC Bank',
                                        português : 'HSBC Bank'
                                    }
                                },
                                {
                                    value : "Itaú",
                                    labels : {
                                        english : 'Itaú',
                                        español : 'Itaú',
                                        português : 'Itaú'
                                    }
                                },
                                {
                                    value : "Santander",
                                    labels : {
                                        english : 'Santander',
                                        español : 'Santander',
                                        português : 'Santander'
                                    }
                                },
                                {
                                    value : "Scotiabank",
                                    labels : {
                                        english : 'Scotiabank',
                                        español : 'Scotiabank',
                                        português : 'Scotiabank'
                                    }
                                },
                                {
                                    value : "Otro",
                                    labels : {
                                        english : 'Other',
                                        español : 'Otro',
                                        português : 'Outro'
                                    }
                                }
                            ],
                            perú : [
                                {
                                    value : 'Agrobanco',
                                    labels : {
                                        english : 'Agrobanco',
                                        español : 'Agrobanco',
                                        português : 'Agrobanco'
                                    }
                                },
                                {
                                    value : 'Banco Azteca del Perú',
                                    labels : {
                                        english : 'Banco Azteca del Perú',
                                        español : 'Banco Azteca del Perú',
                                        português : 'Banco Azteca del Perú'
                                    }
                                },
                                {
                                    value : 'Banco Falabella S.A',
                                    labels : {
                                        english : 'Banco Falabella S.A',
                                        español : 'Banco Falabella S.A',
                                        português : 'Banco Falabella S.A'
                                    }
                                },
                                {
                                    value : 'Banco Ripley',
                                    labels : {
                                        english : 'Banco Ripley',
                                        español : 'Banco Ripley',
                                        português : 'Banco Ripley'
                                    }
                                },
                                {
                                    value : 'Banco Santander Perú S.A',
                                    labels : {
                                        english : 'Banco Santander Perú S.A',
                                        español : 'Banco Santander Perú S.A',
                                        português : 'Banco Santander Perú S.A'
                                    }
                                },
                                {
                                    value : 'Bancosur',
                                    labels : {
                                        english : 'Bancosur',
                                        español : 'Bancosur',
                                        português : 'Bancosur'
                                    }
                                },
                                {
                                    value : 'Banex',
                                    labels : {
                                        english : 'Banex',
                                        español : 'Banex',
                                        português : 'Banex'
                                    }
                                },
                                {
                                    value : 'Bank of Boston',
                                    labels : {
                                        english : 'Bank of Boston',
                                        español : 'Bank of Boston',
                                        português : 'Bank of Boston'
                                    }
                                },
                                {
                                    value : 'BBVA Continental',
                                    labels : {
                                        english : 'BBVA Continental',
                                        español : 'BBVA Continental',
                                        português : 'BBVA Continental'
                                    }
                                },
                                {
                                    value : 'BNP Paribas',
                                    labels : {
                                        english : 'BNP Paribas',
                                        español : 'BNP Paribas',
                                        português : 'BNP Paribas'
                                    }
                                },
                                {
                                    value : 'Central Reserva del Perú',
                                    labels : {
                                        english : 'Central Reserva del Perú',
                                        español : 'Central Reserva del Perú',
                                        português : 'Central Reserva del Perú'
                                    }
                                },
                                {
                                    value : 'Citibank del Perú S.A',
                                    labels : {
                                        english : 'Citibank del Perú S.A',
                                        español : 'Citibank del Perú S.A',
                                        português : 'Citibank del Perú S.A'
                                    }
                                },
                                {
                                    value : 'De Comercio',
                                    labels : {
                                        english : 'De Comercio',
                                        español : 'De Comercio',
                                        português : 'De Comercio'
                                    }
                                },
                                {
                                    value : 'De Crédito del Perú',
                                    labels : {
                                        english : 'De Crédito del Perú',
                                        español : 'De Crédito del Perú',
                                        português : 'De Crédito del Perú'
                                    }
                                },
                                {
                                    value : 'De Lima',
                                    labels : {
                                        english : 'De Lima',
                                        español : 'De Lima',
                                        português : 'De Lima'
                                    }
                                },
                                {
                                    value : 'Del Libertador',
                                    labels : {
                                        english : 'Del Libertador',
                                        español : 'Del Libertador',
                                        português : 'Del Libertador'
                                    }
                                },
                                {
                                    value : 'Del País',
                                    labels : {
                                        english : 'Del País',
                                        español : 'Del País',
                                        português : 'Del País'
                                    }
                                },
                                {
                                    value : 'Del Progreso',
                                    labels : {
                                        english : 'Del Progreso',
                                        español : 'Del Progreso',
                                        português : 'Del Progreso'
                                    }
                                },
                                {
                                    value : 'Del Trabajo',
                                    labels : {
                                        english : 'Del Trabajo',
                                        español : 'Del Trabajo',
                                        português : 'Del Trabajo'
                                    }
                                },
                                {
                                    value : 'Financiero del Perú',
                                    labels : {
                                        english : 'Financiero del Perú',
                                        español : 'Financiero del Perú',
                                        português : 'Financiero del Perú'
                                    }
                                },
                                {
                                    value : 'HSBC Bank Perú S.A',
                                    labels : {
                                        english : 'HSBC Bank Perú S.A',
                                        español : 'HSBC Bank Perú S.A',
                                        português : 'HSBC Bank Perú S.A'
                                    }
                                },
                                {
                                    value : 'Interamericano Finanzas',
                                    labels : {
                                        english : 'Interamericano Finanzas',
                                        español : 'Interamericano Finanzas',
                                        português : 'Interamericano Finanzas'
                                    }
                                },
                                {
                                    value : 'Interbank',
                                    labels : {
                                        english : 'Interbank',
                                        español : 'Interbank',
                                        português : 'Interbank'
                                    }
                                },
                                {
                                    value : 'Internacional del Perú',
                                    labels : {
                                        english : 'Internacional del Perú',
                                        español : 'Internacional del Perú',
                                        português : 'Internacional del Perú'
                                    }
                                },
                                {
                                    value : 'Latino',
                                    labels : {
                                        english : 'Latino',
                                        español : 'Latino',
                                        português : 'Latino'
                                    }
                                },
                                {
                                    value : 'Mercantil',
                                    labels : {
                                        english : 'Mercantil',
                                        español : 'Mercantil',
                                        português : 'Mercantil'
                                    }
                                },
                                {
                                    value : 'Mi Banco',
                                    labels : {
                                        english : 'Mi Banco',
                                        español : 'Mi Banco',
                                        português : 'Mi Banco'
                                    }
                                },
                                {
                                    value : 'Nación',
                                    labels : {
                                        english : 'Nación',
                                        español : 'Nación',
                                        português : 'Nación'
                                    }
                                },
                                {
                                    value : 'NBK Bank',
                                    labels : {
                                        english : 'NBK Bank',
                                        español : 'NBK Bank',
                                        português : 'NBK Bank'
                                    }
                                },
                                {
                                    value : 'Nuevo Mundo',
                                    labels : {
                                        english : 'Nuevo Mundo',
                                        español : 'Nuevo Mundo',
                                        português : 'Nuevo Mundo'
                                    }
                                },
                                {
                                    value : 'Orión',
                                    labels : {
                                        english : 'Orión',
                                        español : 'Orión',
                                        português : 'Orión'
                                    }
                                },
                                {
                                    value : 'República',
                                    labels : {
                                        english : 'República',
                                        español : 'República',
                                        português : 'República'
                                    }
                                },
                                {
                                    value : 'Santander Central Hispano',
                                    labels : {
                                        english : 'Santander Central Hispano',
                                        español : 'Santander Central Hispano',
                                        português : 'Santander Central Hispano'
                                    }
                                },
                                {
                                    value : 'Scotiabank Perú',
                                    labels : {
                                        english : 'Scotiabank Perú',
                                        español : 'Scotiabank Perú',
                                        português : 'Scotiabank Perú'
                                    }
                                },
                                {
                                    value : 'Serbanco S.A',
                                    labels : {
                                        english : 'Serbanco S.A',
                                        español : 'Serbanco S.A',
                                        português : 'Serbanco S.A'
                                    }
                                },
                                {
                                    value : 'Solventa',
                                    labels : {
                                        english : 'Solventa',
                                        español : 'Solventa',
                                        português : 'Solventa'
                                    }
                                },
                                {
                                    value : 'Standard Chartered',
                                    labels : {
                                        english : 'Standard Chartered',
                                        español : 'Standard Chartered',
                                        português : 'Standard Chartered'
                                    }
                                },
                                {
                                    value : 'Sudamericano',
                                    labels : {
                                        english : 'Sudamericano',
                                        español : 'Sudamericano',
                                        português : 'Sudamericano'
                                    }
                                },
                                {
                                    value : "Otro",
                                    labels : {
                                        english : 'Other',
                                        español : 'Otro',
                                        português : 'Outro'
                                    }
                                }                                
                            ]
                        }
                    }
                },
            }
        }
    };
</script>