<template>
    <div class="container">
        <!-- Title -->
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <h1>{{labels.title[language]}}</h1>
            </el-col>
        </el-row>
        <transition name="panel-transition" mode="out-in">
            <component
                :ref="active_panel"
                v-bind:is="active_panel" 
                v-bind:language="language"
                @form_continue="form_continue">
            </component>
        </transition>
    </div>
</template>

<script>
    // Importing Panels
    import PassengerData    from './panels/PassengerData.vue'
    import TicketData       from './panels/TicketData.vue'
    import SicknessData     from './panels/SicknessData.vue'
    import DeathData        from './panels/DeathData.vue'
    import TransferData     from './panels/TransferData.vue'
    import TicketSent       from './panels/TicketSent.vue'

    // Importing Axios
    import axios from 'axios'

    // Importing VeeValidate
    import { ValidationProvider } from 'vee-validate'
    import { ValidationObserver } from 'vee-validate'
    import { extend } from 'vee-validate'
    import { required, email, alpha_spaces, alpha_num} from 'vee-validate/dist/rules'

    // Using vee validate globally
    Vue.component('ValidationProvider', ValidationProvider)
    Vue.component('ValidationObserver', ValidationObserver)

    // Validation rules

    extend('required', {
        ...required,
        message: 'please fill in this field'
    });

    extend('alpha_spaces', {
        ...alpha_spaces,
        message: 'use only letters'
    });

    extend('alpha_num', {
        ...alpha_num,
        message: 'insert only alphanumeric characters'
    });        

    extend('email', {
        ...email,
        message: 'invalid e-mail format'
    })

    // Creating Prototype Object
    import Vue from 'vue'
    
    // defining properties to store and share across components
    // passenger data

    Vue.prototype.$form_data = {
        // default queue
        queue : 70,
        ticket_uuid : null,
        inbenta : {
            keys : { // keys are valid only for SKY client
                domain_key    : 'eyJ0eXBlIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJwcm9qZWN0Ijoic2t5IiwiZG9tYWluX2tleV9pZCI6IkJYOXRjT05odWd1ZFVmUmNNdkUzUVE6OiJ9.An-g2p_sxcdw1czBHlPePPraf0p1-E4TegS-Vmplzv4nqzKNa5h4KnZCQWXJFdOhFodJFNGV5LoqzdRnEVZpVA',
                api_key       : 'BWbgQqUsza2EUUpVmIV4+ws4ukP8PFm8oVb9gE9mkd8=',
                access_token  : null 
            },
            apis : {
                auth        : 'https://api.inbenta.io/v1/auth',
                ticketing   : null
            }   
        }
    }

    Vue.prototype.$passenger_data = {
        inbenta_id : null,
        full_name : '',
        email : '',
        identity : '',
        residence_country : '',
        inquiry_reason : ''
    }

    // ticket data
    Vue.prototype.$ticket_data = {
        reserve_code : '',
        payment_method : '',
        purchase_location : ''
    }

    // transfer data
    Vue.prototype.$transfer_data = {
        bank : '',
        account_type : '',
        payer_full_name : '',
        payer_account_number : '',
        currency : '',
        payer_cci : '',
        payer_identity : '',
        payer_email : ''
    }    

    // sickness data
    Vue.prototype.$sickness_data = {
        documents : []
    }

    // death data
    Vue.prototype.$death_data = {
        documents : []
    }    

    export default {
        name : 'FormularioDevoluciones',
        components: {
            PassengerData,
            TicketData,
            SicknessData,
            DeathData,
            TransferData,
            TicketSent
        },
        props:{
            language: String
        },
        mounted () {
            this.inbenta_authentication()
        },
        methods: {
            inbenta_authentication: function(){

                // perform inbenta authentication
                var form_data = new FormData();
                form_data.set('domain_key', this.$form_data.inbenta.keys.domain_key);

                axios({
                    method: 'post',
                    url: this.$form_data.inbenta.apis.auth,
                    crossDomain: true,
                    data: form_data,
                    headers: {
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key
                    }
                }).then((response) => {
                        this.$form_data.inbenta.keys.access_token = response.data.accessToken
                        this.$form_data.inbenta.apis.ticketing = response.data.apis.ticketing
                })
            },          
            inbenta_send_ticket: function(callback){
                
                // creating an empty array for storing documents
                var file_attachments = [];

                // adding sickness files if they are present
                if(this.$sickness_data.documents.length > 0){
                    this.$sickness_data.documents.forEach(function(item){
                        file_attachments.push(item.uuid.toString());
                    });
                }

                // adding death files if they are present
                if(this.$death_data.documents.length > 0){
                    this.$death_data.documents.forEach(function(item){
                        file_attachments.push(item.uuid.toString());
                    });
                }
      
                // creating an empty array for appending stored
                // values in ticket extra data
                var extra_data = new Array();

                var counter = 0
                
                // Add Stored Data for Passenger Data if it is present
                if(this.$passenger_data.inquiry_reason != ''){
                    // Residence Country
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 45
                    extra_data[counter]['content'] = this.$passenger_data.residence_country
                    counter ++

                    // RUT/ID/Passport
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 2
                    extra_data[counter]['content'] = this.$passenger_data.identity
                    counter ++

                    // Inquiry Reason
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 24
                    extra_data[counter]['content'] = this.$passenger_data.inquiry_reason
                    counter ++

                }

                // Add Stored Data for Ticket Data if it is present
                if(this.$ticket_data.purchase_location){
                    // Reserve Code
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 4
                    extra_data[counter]['content'] = this.$ticket_data.reserve_code
                    counter ++

                    // Payment Method
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 5
                    extra_data[counter]['content'] = this.$ticket_data.payment_method
                    counter ++

                    // Purchase Location
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 51
                    extra_data[counter]['content'] = this.$ticket_data.purchase_location
                    counter ++
                }

                // Add Stored Data for Transfer Data if it is present
                if (this.$transfer_data.bank != '') {
                    // Bank Name
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 6
                    extra_data[counter]['content'] = this.$transfer_data.bank
                    counter ++
                    
                    // Account Type
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 3
                    extra_data[counter]['content'] = this.$transfer_data.account_type
                    counter ++
                    
                    // Account Number
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 5
                    extra_data[counter]['content'] = this.$transfer_data.payer_account_number
                    counter ++
                    
                    // Account Owner's Name
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 29
                    extra_data[counter]['content'] = this.$transfer_data.payer_full_name
                    counter ++
                    
                    // Account Owner's Identity
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 30
                    extra_data[counter]['content'] = this.$transfer_data.payer_identity
                    counter ++
                    
                    // Account Owner's Email
                    extra_data[counter] = []
                    extra_data[counter]['id'] = 31
                    extra_data[counter]['content'] = this.$transfer_data.payer_email
                    counter ++

                    // add extra information for perú
                    if(this.$transfer_data.purchase_location == 'perú'){
                        // Bank CCI
                        extra_data[counter] = []
                        extra_data[counter]['id'] = 49,
                        extra_data[counter]['content'] = this.$transfer_data.payer_cci
                        counter ++

                        // Refund Currency
                        extra_data[counter] = []
                        extra_data[counter]['id'] = 36
                        extra_data[counter]['content'] = this.$transfer_data.currency
                        counter ++
                    }
                } 

                // creating the ticket body with formData
                var ticket_body = new FormData()
                
                // setting each variable in the ticket body
                ticket_body.set('title', 'Solicitud de devolución')
                ticket_body.set('creator', this.$passenger_data.inbenta_id)
                ticket_body.set('source', 1)
                ticket_body.set('status', 1)
                ticket_body.set('language', 2)
                ticket_body.set('priority', 1)
                ticket_body.set('classification', [42])
                ticket_body.set('queue', this.$form_data.queue)
                ticket_body.set('message', 'Solicitud de devolución')
                
                extra_data.forEach(function(element, index){
                    ticket_body.set('extra['+index+'][id]', element['id'])
                    ticket_body.set('extra['+index+'][content]', element['content'])
                });

                file_attachments.forEach(function(element, index){
                    ticket_body.set('attachments['+index+']', element)
                });
      
                // send POST request
                axios({
                    method: 'post',
                    url: this.$form_data.inbenta.apis.ticketing + '/v1/tickets',
                    crossDomain: true,
                    data: ticket_body,
                    headers: {
                        'Content-type' : 'application/x-www-form-urlencoded',
                        'x-inbenta-key': this.$form_data.inbenta.keys.api_key,
                        'Authorization': 'Bearer '+this.$form_data.inbenta.keys.access_token
                    }
                }).then((response) => {

                    // ticket was created and we use its number for displaying it
                    let ticket_number = response.data.uuid;
                    callback(ticket_number);

                })                                                                                    
            },
            change_active_panel: function(panel){
                // changes the current active panel
                // for the panel sent
                this.active_panel = panel
            },          
            check_passenger_data: function(){
                // checking the data set in passenger data to evaluate
                // where to go next and set the properties for the 
                // ticket that will be sent
                // queue for the sent ticket is defined based on the residence country
                switch(this.$passenger_data.residence_country){
                    case 'Chile':
                    case 'Otro':
                        // ticket will be sent to Devoluciones BO queue
                        this.$form_data.queue = 70
                        break                               
                    case 'Perú':
                        // ticket will be sent to Devoluciones BO-PE queue
                        this.$form_data.queue = 80
                        break
                }

                // next panel is show based on the option
                switch(this.$passenger_data.inquiry_reason){
                    case "Devolución por cancelación o atraso":
                    case "Otros motivos":
                    case "Devolución por error en la compra":
                    case "Devolución por diferencia de tasas":                                                       
                        // show ticket data panel
                        this.active_panel = 'ticket-data'
                        break
                    case "Devolución por enfermedad u hospitalización":
                        // show sickness data panel
                        this.active_panel = 'sickness-data'
                        break
                    case "Devolución por fallecimiento":
                        // show death data panel
                        this.active_panel = 'death-data'
                        break
                }
            },
            check_ticket_data: function(){
                // checking the data set in ticket data to evaluate
                // where to go next and wheter to show or not transfer data
                  
                // transfer data can be show only if purchase 
                // was not made by credit card and 
                // purchase location is not 'other'
                switch(this.$ticket_data.payment_method){
                    case 'Tarjeta de crédito':
                        // we won't show transfer data panel
                        // if the user choose Credit Card
                        // and we will submit the ticket right away
                        this.inbenta_send_ticket((created_uuid) =>{
                            
                            this.$form_data.ticket_uuid = created_uuid
                            this.active_panel = 'ticket-sent'
                        })
                        break
                    default :
                        // user selected a payment method elegible for refund
                        // we will show the panel based on the purchase location

                        switch(this.$ticket_data.purchase_location){
                            case 'chile':
                                // we will show transfer data panel
                                // with options for chile
                                this.active_panel = 'transfer-data'
                                this.purchase_location = 'chile'
                                break                               
                            case 'perú':
                                // we will show transfer data panel
                                // with options for perú
                                this.active_panel = 'transfer-data'
                                this.purchase_location = 'perú'
                                break
                            case 'otro':
                                // we won't show transfer data panel
                                // and will submit the ticket right away
                                this.inbenta_send_ticket((created_uuid) =>{
                            
                                    this.$form_data.ticket_uuid = created_uuid
                                    this.active_panel = 'ticket-sent'
                                })
                                break                            
                        }
                        break                           
                }
            },
            check_transfer_data: function(){
                // checking the data set in transfer data
                // transfer data is the last step
                this.inbenta_send_ticket((created_uuid) =>{
                    
                    this.$form_data.ticket_uuid = created_uuid
                    this.active_panel = 'ticket-sent'
                })
            },            
            check_sickness_data: function(){
                // checking the data set in sickness data
                // to allow advancing 
                
                // CHECKING SICKNESS DOCUMENTS
                if (this.$sickness_data.documents.length == 0){
                    // BORRAR ALERTS Y CONSOLE.LOG
                    console.log('no se han adjuntado documentos')
                    return false
                } else {
                    // documents have been attached and uploaded
                    // so we can continue to ticket data panel
                    this.active_panel = 'ticket-data'
                }
            },
            check_death_data: function(){
                // checking the data set in sickness data
                // to allow advancing 
                
                // CHECKING SICKNESS DOCUMENTS
                if (this.$death_data.documents.length == 0){
                    // BORRAR ALERTS Y CONSOLE.LOG
                    console.log('no se han adjuntado documentos')
                    return false
                } else {
                    // documents have been attached and uploaded
                    // so we can continue to ticket data panel
                    this.active_panel = 'ticket-data'
                }
            },               
            form_continue : function(){
                // define which panel is next based on 
                // the active panel and the user's selections
                switch(this.active_panel) {
                    case 'passenger-data':
                        // user clicked the continue button in passenger data                        
                        this.check_passenger_data()
                        break;
                    case 'sickness-data':
                        // checking uploaded documents                     
                        this.check_sickness_data()
                        break;
                    case 'death-data':
                        // checking uploaded documents                     
                        this.check_death_data()
                        break;                  
                    case 'ticket-data':
                        // user clicked the continue button in ticket data
                        this.check_ticket_data()
                        break;
                    case 'transfer-data':
                        // user clicked the continue button in transfer data
                        this.check_transfer_data()
                        break;                         
                }
            }
        },
        data() {
            return {
                // default purchase location
                purchase_location : 'chile',
                // continue button behavior
                submit_button_loading : false,
                // active panel
                active_panel : 'passenger-data',          
                // titles
                labels : {
                    title : {
                        english     : "Refunds",
                        español     : "Devoluciones",
                        português   : "Reembolsos"
                    }
                },
                errors:{
                    required : {
                        english : 'please fill in this field',
                        español : 'completa este campo',
                        português : 'preencha este campo'
                    },
                    alpha_spaces : {
                        english : 'use only letters',
                        español : 'utiliza solo letras',
                        português : 'use apenas letras'
                    },
                    alpha_num : {
                        english : 'insert only alphanumeric characters',
                        español : 'ingresa solo caracteres alfanuméricos',
                        português : 'insira apenas caracteres alfanuméricos'
                    },
                    email : {
                        english : 'invalid e-mail format',
                        español : 'formato de e-mail no válido',
                        português : 'formato de e-mail inválido'
                    },
                }
            }
        }
    };
</script>

<style>

    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
    
    /* transition effect handled by vue */
    .panel-transition-enter-active, .panel-transition-leave-active {
    transition: opacity .3s ease;
    }
    .panel-transition-enter, .panel-transition-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }

    .el-button{
        border-radius: 8px;
        font-size: 16px;
    }

    /* adding margin to alerts */
    .el-alert{
        margin-top: 20px;
        border-radius: 8px;
        border-style: solid 1px;
        font-size: 16px;
    }

    /* adding full width to select */
    .el-select{
        display: block;
    }

    /* adding padding to each row */
    .el-row {
        padding-bottom: 20px;
    }

    .container {
        font-family: 'Roboto', sans-serif;
        text-align: start;
        color: #4D4D4D;
    }

    /* Styling submit button */
    .button-invisible {
        display: none;
    }

    h1, h2, h3{
        font-weight: 700;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 32px;
    }

    h3{
        font-size: 24px;
    }
    
    h3, h4, li{
        font-weight: 400;
    }

    span{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
</style>

