<template>
  <div id="app">
      <el-row 
        v-if="language_debug"
        type="flex" 
        justify="center">
        <el-col :span="22">
            <el-select v-model="language" @change="switch_language($event)" placeholder="language">
                <el-option :value="'english'"       :label="'english'"></el-option>
                <el-option :value="'español'"       :label="'español'"></el-option>
                <el-option :value="'português'"     :label="'português'"></el-option>
            </el-select>
        </el-col>
    </el-row>
    <FormularioDevoluciones v-bind:language="language" />
  </div>
</template>

<script>
import FormularioDevoluciones from './components/FormularioDevoluciones.vue'

export default {
  name: 'app',
  components: {
      FormularioDevoluciones
  },
  data() {
    return {
      // form language
      language           : 'español',
      language_debug     : false
    }
  },
  methods : {
    switch_language: function (language) {
      this.language = language;
    }
  }
}
</script>
